.regular {
    padding-top: 94px;
    padding-bottom: 94px;
}

.regular__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}

.regular__list {
    display: flex;
    gap: 30px;
}

.regular__link {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;

    &:hover,
    &:focus {
    border-color: #2196f3;
     }
}

.regular__icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

 .regular__link:hover &,
 .regular__link:focus & {
    fill: #2196f3;
 }
}