.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--dark-bg-cl);
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer__logo {
    display: block;
    margin-bottom: 20px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #ffffff;
}

.footer__accent {
    color: var(--accent-tx-cl);
}

.address__text {
    margin-bottom: 9px;
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #ffffff;
}

.address__item:first-child {
    margin-bottom: 9px;
}

.address__link {
    margin-bottom: 9px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer__socials {
    display: flex;
    margin-left: 65px;
}

.footer__text {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700px;
    font-size: 14px;
    line-height: calc(16 / 14);
    color: #ffffff;
}

.footer__link {
    background-color: rgba(255, 255, 255, 0.1);
}

.footer__icon {
    fill: #ffffff;
}